@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: none;
  --background-start-rgb: none;
  --background-end-rgb: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: none;
    --background-start-rgb: none;
    --background-end-rgb: none
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}